.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caixa a{
  text-decoration: none;
  color: blue;
}
.caixa a:hover{
  background-color: blue;
  color: white;
}
.texto{
  color: greenyellow;
  font-size:2em;
}
